@use "@material/theme" with (
  $primary: #1a73e8,
  $secondary: #384349,
);
@use "@material/typography/mdc-typography";

@use "@material/drawer";
@use "@material/list";
@use "@material/card";
@use "@material/button/styles";
@use "@material/shape";
@use "@material/dialog";
@use "@material/switch";

@include switch.core-styles;
@include dialog.core-styles;
@include card.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;

:root {
  --mdc-typography-font-family: 'Roboto', sans-serif;
  --card-title: #919191;
}